@model StudentWithCrsDegreeVM

<div class="container mt-3">
    <h1 class="text-center">Student Details</h1>
    <table class="table table-bordered text-center" width="50%">
        <tr>
            <th>Student Name</th>
            <th>Course Name</th>
            <th>Degree</th>
            <th>Course ID</th>
        </tr>
        <tr>
            <td>@Model.StudentName</td>
            <td>@Model.CrsName</td>
            <td>@Model.Degree</td>
            <td>@Model.Id</td>
        </tr>
    </table>
    <div class="form-group mt-2">
        <a asp-action="GetAll" class="btn btn-secondary ms-2">Back</a>
    </div>
</div>