@model MVCProject.Models.Student


@{
    ViewData["Title"] = "Update";

    SelectList tracks;
    if(Model !=null)
    {
        tracks = new SelectList(ViewBag.Trs,"Id","Name",Model.Track_Id);
    }
    else
    {
        tracks = new SelectList(ViewBag.Trs,"Id","Name");
    }
}

<div class="container mt-3">
    <h1>Update Student</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update" asp-controller="Student" >
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" class="form-control"/>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Track_Id"></label>
                    <select asp-for="Track_Id" asp-items="tracks" class="form-control"></select>
                    <span class="text-danger" asp-validation-for="Track_Id"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Edit" class="btn btn-warning mt-2 me-2" />
                    <a asp-action="GetAll" asp-controller="Student" class="btn btn-secondary mt-2">Back</a>
                </div>
            </form>
        </div> 
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
