@model Course

<div class="container mt-3">
    <h1>@Model.Name</h1>
    <h3>@Model.Duration</h3>
    <h3>@Model.TrackId</h3>
<a asp-action="GetAll" asp-controller="Course" class="btn btn-success">Back to course list</a>

</div>
