@model Instructor

@{

    SelectList tracks;
    if(Model !=null)
    {
        tracks = new SelectList(ViewBag.tracks, "Id", "Name", Model.Track_Id);
    }
    else
    {
        tracks = new SelectList(ViewBag.tracks,"Id","Name");
    }      
}

<div class="container">
    <h1>Create Instructor</h1>
    <hr class="m-0"/>
    <div class="row">
        <div class="col-4">
            <form method="post" asp-action="Create" asp-controller="Instructor">
                <div asp-validation-summary="All" class="text-danger"></div>


@*                <div class="form-group">
                    <label for="roleName" >Select Role</label>
                    <select name="roleName" id="roleName" class="form-select form-select-lg mb-3 ml-4">
                        @foreach(var item in ViewBag.listOfUser)
                        {
                            <option value="@item" selected>@item</option>
                        }
                    </select>
                </div>*@


                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Track_Id"></label>
                    <select asp-for="Track_Id" asp-items="tracks" class="form-control"></select>
                    <span class="text-danger" asp-validation-for="Track_Id"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="GetAll" class="btn btn-secondary ms-2">Back</a>

                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
